.button-class {
    background-color: #ff7f50; /* coral */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: lightyellow;
    color: black;
    border: 2px solid #ff7f50;
    list-style-type: none; 
}

.pokemon-list {
    text-align: center;
    list-style-type: none;
}

.main-heading {
    text-align: center;
    text-decoration: underline;
}