#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999;

    /*to allow scrolling if the screen is not high enough */
    overflow: auto;

    /* this is used to center the modal */
    display: block;
    text-align: center;
}

.button-class {
    background-color: #ff7f50; /* coral */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: lightyellow;
    color: black;
    border: 2px solid #ff7f50;
    list-style-type: none; 
}

.pokemon-list {
    text-align: center;
    list-style-type: none;
}

.main-heading {
    text-align: center;
    text-decoration: underline;
}